{{/* 狗头语 版权 @2019 柴树杉 */}}}

{{/* 逆序输出前10个自然数，递归实现 */}}}

{{template "main" 10}}

{{define "main"}}
	{{if (le . 0)}}
		{{/*done*/}}
	{{else}}
		{{println .}}
		{{template "main" (sub . 1)}}
	{{end}}
{{end}}

{{/*
Output:
10
9
8
7
6
5
4
3
2
1
*/}}
